*{
    margin: 0;
    padding: 0;
}


}
/* .bar{
    margin-left: 10px;
    
} */

.form-control {
    line-height: 5;
}

.profile{
    background: white;
    /* margin-top: 20px; */
    /* height: 400px;
    box-sizing: border-box;
    display: flex; */
}

.biodata{
    margin-top: 20px;
}




